.header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
}
.img_right{
  width: 225px;
  height: 240px;
}
.img_right img{
  width: 100%;
  height: 100%;
}
.header_content{
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f4f4f4;
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 50px;
}
.header_content button{
  width: 170px;
  height: 35px;
  background-color: rgb(254, 186, 66);
  border: none;
  border-radius: 5px;
  font-size: 17px;
  font-weight: 800;
  color: rgb(23, 23, 161);
  margin-bottom: 12px;
  margin-top: 5px;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-style: italic;
}
.header_content button span{
  color: rgb(16, 164, 164);
  font-family: "Open Sans", sans-serif;
}
.header_content h1{
  padding-bottom: 10px;
  font-size: 40px;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
}
.header .span{
  color: #d57d1f;
  font-family: "Open Sans", sans-serif;
}
.header .span:hover{
  color: #fb9e3b;
  cursor: pointer;
}
.home_search{
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.home_search form{
  display: flex;
  padding-top: 15px;
}
.home_search .quantity{
  margin-top: 20px;
  color: #ededed;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
.quantity img{
  margin-left: 10px;
  margin-right: 3px;
}
.home_search input{
  height: 35px;
  width: 300px;
  border-radius: 5px 0 0 5px;
  border-left: none;
  font-size: 15px;
  outline: none;
  border: none;
  font-family: 'Times New Roman', Times, serif;
  font-family: "Open Sans", sans-serif;
}
.home_search button{
  height: 35px;
  width: 50px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  border: 1px solid #ededed;
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
}
.meal_item_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .meal_item h3{
    color: #ededed;
    padding: 20px 0 10px 0;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 450;
}
  
  .meal_img {
    width: 249px;
    height: 249px;
  }
  
  .meal_img img {
    width: 100%;
    height: 100%;
    padding: 0 5px;
    cursor: pointer;
  }
  .popular {
    color: #fff;
    padding: 30px 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.popular h3 {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 450;
}
.popular_ingredients {
    display: flex;
    justify-content: space-between;
}

.country {
  padding-bottom: 50px;
  font-family: "Open Sans", sans-serif;
}
.country h3 {
  padding: 30px 0 20px 0;
  text-align: center;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 450;
}
.country_meals {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 11px;
}
.alfavit h3{
  text-align: center;
  color: #fff;
  padding: 20px 0;
  font-family: "Open Sans", sans-serif;
  font-weight:450;
}