.meal_content{
    width: 280px;
    height: 330px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 10px;
}

.meal_img{
    width: 249px;
    height: 249px;
}

.meal_img img{
    width: 100%;
    height: 100%;
    padding:  0 5px;
    cursor: pointer;
}

.meal_content p{
    font-size: 14px;
    color: #d57d1f;
    font-family: "Open Sans", sans-serif;
}

.meal_content p:hover{
    font-size: 14px;
    color: orange;
    cursor: pointer;
}